<nav class="an--header--container">
  <ul class="an--header--List">
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">NEWS</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">MUSIC</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">VIDEO</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">PHOTOS</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">CONNEKT</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">MEMBERS</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#">SUBSCRIBE</a>
    </li>
    <li class="an--header--block">
        <a class="an--header--KEK" href="#"> SHOP</a>
    </li>
  </ul>
</nav>