$an--color--dark: #3E4348;

// $an--color--blue-light: #cff09e;
// $an--color--blue-medium: #a8dba8;
// $an--color--blue-regular: #79bd9a;
// $an--color--blue-dark: #3b8686;

$an--color--pink: #EC6A5C;

$an--color--grey: #e4e7ef;
