@import "./app/_ui/an--src.scss";
@import "./app//_ui/an--ui.scss";

@import "./app/an--cd/an--cd.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: $an--font--regular;
}
a { 
    text-decoration: none; 
   } 
   li {
    list-style-type: none; 
   }
